<article>
  <% if carrinho_item.produto.imagens.attached? %>
    <section>
      <div>
        <% imagem = carrinho_item.produto.imagens.first %>
        <figure>
          <%= image_tag imagem, alt: "Imagem do produto #{carrinho_item.produto.nome}" %>
        </figure>
      </div>
    </section>
  <% else %>
    <p>Sem imagens</p>
  <% end %>

  <h2><%= carrinho_item.produto.nome %></h2>

  <dl>
    <dt>Descrição:</dt>
    <dd><%= carrinho_item.produto.descricao %></dd>

    <dt>Preço unitário:</dt>
    <dd>R$
      <%= format_preco(carrinho_item.produto.preco) %></dd>

    <dt>Quantidade:</dt>
    <dd><%= carrinho_item.quantidade %>
      <%= "unidade".pluralize(carrinho_item.quantidade) %></dd>

    <dt>Subtotal:</dt>
    <dd>R$
      <%= format_preco(carrinho_item.produto.preco * carrinho_item.quantidade) %></dd>
  </dl>
</article>
