<%= render "home/header" %>

<main class="container">
  <section>
    <div class="grid">
      <% carrinho.itens.each  do |carrinho_item| %>
        <%= render "carrinho_item", carrinho_item: %>
      <% end %>
    </div>

    <% if carrinho.itens.any? %>
      <p><strong>Total:</strong>R$
        <%= format_preco(carrinho.preco_total) %></p>

      <button
        data-controller="compras"
        data-action="click->compras#create"
        data-compras-url-value="<%= url_for :create_compra %>"
      >Comprar</button>
      <button
        data-controller="carrinho"
        data-action="click->carrinho#clean_carrinho"
        data-carrinho-url-value="<%= url_for :clean_carrinho %>"
      >Limpar carrinho</button>
    <% else %>
      <p>Carrinho vazio. Que tal explorar nossos produtos e encontrar algo que
        te agrade? 😊</p>
    <% end %>
  </section>
</main>

<%= render "home/footer" %>
