<%= render "home/header", usuario: %>

<main class="container">
  <section>
    <div class="grid">
      <% carrinho.itens.each  do |carrinho_item| %>
        <%= render "carrinho_item", carrinho_item: %>
      <% end %>
    </div>

    <% if carrinho.itens.any? %>
      <p><strong>Total:</strong>R$
        <%= format_preco(carrinho.preco_total) %></p>

      <button
        data-controller="simple"
        data-action="click->simple#create"
        data-simple-reload-value="true"
        data-simple-url-value="<%= create_compra_path %>"
      >Comprar</button>
      <button
        data-controller="simple"
        data-action="click->simple#delete"
        data-simple-reload-value="true"
        data-simple-url-value="<%= clean_carrinho_path %>"
      >Limpar carrinho</button>
    <% else %>
      <p>Carrinho vazio. Que tal explorar nossos produtos e encontrar algo que
        te agrade? 😊</p>
    <% end %>
  </section>
</main>

<%= render "home/footer" %>
