<header class="container">
  <h1>Mercado Online</h1>

  <nav class="grid">
    <ul>
      <% if usuario.admin? %>
        <li><%= link_to "Início", :root %></li>
        <li><%= link_to "Perfil", :perfil %></li>

      <% elsif usuario.vendedor? %>
        <li><%= link_to "Início", :root %></li>
        <li><%= link_to "Produtos", :produtos %></li>
        <li><%= link_to "Perfil", :perfil %></li>

      <% elsif usuario.cliente? %>
        <li><%= link_to "Início", :root %></li>
        <li><%= link_to "Produtos", :produtos %></li>
        <li><%= link_to "Carrinho", :carrinho %></li>
        <li><%= link_to "Compras", :compras %></li>
        <li><%= link_to "Perfil", :perfil %></li>
        <li><%= link_to "Contato", :contato %></li>
      <% end %>
    </ul>
  </nav>

  <% if current_page?(:root) %>
    <div class="grid">
      <button data-controller="theme" data-action="click->theme#change_theme">
        Trocar tema
      </button>
      <button
        data-controller="simple"
        data-action="click->simple#create"
        data-simple-redirect-value="<%= login_path %>"
        data-simple-url-value="<%= logout_path %>"
      >Logout</button>
    </div>
  <% end %>
</header>
