<header class="container">
  <h1>Mercado Online</h1>
  <nav>
    <ul>
      <li><%= link_to "Início", :root %></li>
      <li><%= link_to "Produtos", :produtos %></li>
      <li><%= link_to "Carrinho", :carrinho %></li>
      <li><%= link_to "Minha Conta", :minha_conta %></li>
      <li><%= link_to "Contato", :contato %></li>
    </ul>
  </nav>

  <% if current_page?(:root) %>
    <div class="grid" data-controller="session">
      <button data-action="click->theme#change_theme">
        Trocar tema
      </button>
      <button
        data-action="click->session#login_cliente"
        data-url="<%= url_for :login_cliente %>"
      >
        Login como Cliente
      </button>
      <button
        data-action="click->session#login_admin"
        data-url="<%= url_for :login_admin %>"
      >
        Login como Admin
      </button>
      <button data-action="click->session#logout" data-url="<%= url_for :logout %>">
        Logout
      </button>
    </div>
  <% end %>
</header>
