<header class="container">
  <h1>Mercado Online</h1>

  <nav class="grid">
    <ul>
      <li><%= link_to "Início", :root %></li>
      <li><%= link_to "Produtos", :produtos %></li>
      <li><%= link_to "Carrinho", :carrinho %></li>
      <li><%= link_to "Compras", :compras %></li>
      <li><%= link_to "Perfil", :perfil %></li>
      <li><%= link_to "Contato", :contato %></li>
    </ul>
    <% if current_page?(:root) %>
      <ul>
        <li data-controller="session" data-session-target="hello"></li>
      </ul>
    <% end %>
  </nav>

  <% if current_page?(:root) %>
    <div class="grid">
      <button data-controller="theme" data-action="click->theme#change_theme">
        Trocar tema
      </button>
      <button
        data-controller="session"
        data-action="click->session#login_cliente"
        data-session-url-value="<%= url_for :login_cliente %>"
      >
        Login como Cliente
      </button>
      <button
        data-controller="session"
        data-action="click->session#login_admin"
        data-session-url-value="<%= url_for :login_admin %>"
      >
        Login como Admin
      </button>
      <button
        data-controller="session"
        data-action="click->session#logout"
        data-session-url-value="<%= url_for :logout %>"
      >
        Logout
      </button>
    </div>
  <% end %>
</header>
