<main class="container">
  <div class="grid">
    <form action="<%= url_for :login_cliente %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <button type="submit">Login como Cliente</button>
    </form>

    <form action="<%= url_for :login_vendedor %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <button type="submit">Login como Vendedor</button>
    </form>

    <form action="<%= url_for :login_admin %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <button type="submit">Login como Admin</button>
    </form>
  </div>
</main>

<%= render "footer" %>
