<main class="container">
  <div class="grid">
    <form action="<%= login_cliente_path %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <button type="submit">Login como Cliente</button>
    </form>

    <form action="<%= login_vendedor_path %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <button type="submit">Login como Vendedor</button>
    </form>

    <form action="<%= login_admin_path %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>"
      >
      <button type="submit">Login como Admin</button>
    </form>
  </div>
</main>

<%= render "footer" %>
