<main class="container">
  <div class="grid">
    <button
      data-controller="simple"
      data-action="click->simple#create"
      data-simple-redirect-value="<%= root_path %>"
      data-simple-url-value="<%= login_cliente_path %>"
    >Login como Cliente</button>

    <button
      data-controller="simple"
      data-action="click->simple#create"
      data-simple-redirect-value="<%= root_path %>"
      data-simple-url-value="<%= login_vendedor_path %>"
    >Login como Vendedor</button>

    <button
      data-controller="simple"
      data-action="click->simple#create"
      data-simple-redirect-value="<%= root_path %>"
      data-simple-url-value="<%= login_admin_path %>"
    >Login como Admin</button>
  </div>
</main>

<%= render "footer" %>
