<%= render "header" %>

<main class="container">
  <h1>Bem-vindo,
    <%= usuario.nome %>!</h1>

  <section>
    <h2>Seus dados:</h2>
    <ul>
      <li><strong>Nome:</strong>
        <%= usuario.nome %></li>
      <li><strong>Cargo:</strong>
        <%= usuario.cargo.capitalize %></li>
      <li><strong>Data de cadastro:</strong>
        <%= format_date(usuario.created_at) %></li>
    </ul>
  </section>
</main>

<%= render "footer" %>
