<article>
  <% if produto.imagens.attached? %>
    <section>
      <div class="scroll-container">
        <% produto.imagens.each do |imagem| %>
          <%= image_tag imagem, alt: "Imagem do produto #{produto.nome}" %>
        <% end %>
      </div>
    </section>
  <% else %>
    <p>Sem imagens</p>
  <% end %>

  <h2><%= produto.nome %></h2>

  <dl>
    <dt>Descrição:</dt>
    <dd><%= produto.descricao %></dd>

    <dt>Preço:</dt>
    <dd>R$
      <%= format_preco(produto.preco) %></dd>

    <dt>Estoque:</dt>
    <dd><%= produto.estoque %>
      <%= "unidade".pluralize(produto.estoque) %></dd>

    <dt>Categoria:</dt>
    <dd><%= produto.categoria.nome %></dd>

    <dt>Tags:</dt>
    <dd>
      <% if produto.tags.any? %>
        <ul>
          <% produto.tags.each do |tag| %>
            <li><%= tag.nome %></li>
          <% end %>
        </ul>
      <% else %>
        Nenhuma tag
      <% end %>
    </dd>
  </dl>
  <section>
    <% if usuario.cliente? %>
      <button
        data-controller="carrinho"
        data-action="click->carrinho#add_to_carrinho"
        data-carrinho-produto-id-value="<%= produto.id %>"
        data-carrinho-quantidade-value="1"
        data-carrinho-url-value="<%= url_for :add_to_carrinho %>"
      >
        Adicionar ao carrinho
      </button>
    <% end %>

    <% if usuario.vendedor? %>
      <button onclick="window.location.href='<%= edit_produto_path(produto) %>'">
        Editar Produto
      </button>
    <% end %>
  </section>
</article>
