<%= render "home/header", usuario: %>

<main class="container">
  <form action="<%= produtos_path %>" method="get">
    <div>
      <label for="categoria">Categoria</label>
      <input
        type="text"
        name="categoria"
        id="categoria"
        value="<%= params[:categoria] %>"
      >
    </div>

    <div>
      <label for="tags">Tags (separe por vírgula)</label>
      <input type="text" name="tags" id="tags" value="<%= params[:tags] %>">
    </div>

    <div>
      <button type="submit">Filtrar</button>
    </div>
  </form>

  <section class="grid">
    <% if usuario.vendedor? %>
      <button onclick="window.location.href='<%= new_produto_path %>'">
        Novo Produto
      </button>
    <% end %>

    <% produtos.each do |produto| %>
      <%= render "produto", produto:, usuario: %>
    <% end %>
    <% if produtos.empty? %>
      <p>Nenhum produto encontrado.</p>
    <% end %>
  </section>
</main>

<%= render "home/footer" %>
